{{#section 'title'}}
<title>Product Detail</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/product_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/product_responsive.css">
{{/section}}

{{#section 'js'}}

<script src="/js/product_custom.js"></script>
{{!-- Text input --}}
<script src="https://cdn.tiny.cloud/1/c1jvw3qlu8agu5fn9nd4vy1r0exudpyv1c1bvrazfekhzubz/tinymce/5/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: '#txtAppendFullInfo',
    height: 400,
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
      'forecolor backcolor',
      'table link image media',
    ],
  });
</script>

{{/section}}



<!-- Single Product -->

<div class="single_product">
	<div class="container">
		<div class="product_category">{{ category.CatName }}</div>
		<div class="product_name">{{ product.ProName }}</div>
		<div class="row">
			<!-- Images -->
			<div class="col-lg-2 order-lg-1 order-2">
				<ul class="image_list">
					<li data-image="/images/product/{{product.ProID}}/single_1.jpg"><img
							src="/images/product/{{product.ProID}}/single_1.jpg" alt=""></li>
					<li data-image="/images/product/{{product.ProID}}/single_2.jpg"><img
							src="/images/product/{{product.ProID}}/single_2.jpg" alt=""></li>
					<li data-image="/images/product/{{product.ProID}}/single_3.jpg"><img
							src="/images/product/{{product.ProID}}/single_3.jpg" alt=""></li>
				</ul>
			</div>

			<!-- Selected Image -->
			<div class="col-lg-5 order-lg-2 order-1">
				<div class="image_selected"><img src="/images/product/{{product.ProID}}/single_1.jpg" alt=""></div>
			</div>



			<!-- Description -->
			<div class="col-lg-5 order-3">
				<div class="product_description">
					{{#if err_message}}
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					{{err_message}}
					</div>
					{{/if}}
					<div class="current_bid mb-2 mt-2">
						<div class="title">Giá hiện tại </div>
						<div class="product_price">{{ format product.CurrentPrice }}</div>
					</div>

					<div class="time_remain">
						<div class="time_text">Đấu giá bắt đầu</div>
						<div class="time">{{ product.StartDate }}</div>
					</div>

					<div class="time_remain">
						<div class="time_text">Đấu giá kết thúc</div>
						<div class="time">{{ product.ExpiryDate }}</div>
					</div>

					<div class="product_text">
						<div class="d-flex flex-row justify-content-between">
							<div class="title">Người bán:</div>
							<div class="content">
								{{mask seller.Username }} - <i class="far fa-laugh-beam"></i>
							</div>
						</div>
						<div class="d-flex flex-row justify-content-between">
							<div class="title">Người giữ giá:</div>
							<div class="content">
								{{mask bidder.Username }} - <i class="far fa-frown-open"></i>
							</div>
						</div>
						<div class="d-flex flex-row justify-content-between">
							<div class="title">Giới thiệu sản phẩm:</div>
							<div class="content">
								{{ product.TinyInfo }}
							</div>
						</div>


						{{#if isOwn}} {{else}}
						<form method="POST">
							<div class="d-flex flex-row justify-content-between">
								<div class="title">Thêm vào danh sách yêu thích</div>
								<div class="product_fav content">
									<button class="btn" type="submit"
										formaction="/shop/{{product.CatID}}/products/{{product.ProID}}/wishlist"><i
											class="fas fa-heart"></i></button>
								</div>
							</div>
						</form>
						{{/if}}
					</div>
					{{#if isOwn}}
					{{else}}
					{{#if isBid}} {{!-- Kiểm tra xem có đc phép đấu giá hay khônv  --}}
					<div class="bid_btn">
						<form method="POST">
							<input type="number" name="Price">
							<button class="btn btn-outline-primary"
								formaction="/shop/{{product.CatID}}/products/{{product.ProID}}/check/direct"
								type="submit">Đấu giá trực tiếp</button>
						</form>
						<form method="POST">
							<input type="number" name="Price">
							<button class="btn btn-outline-primary"
								formaction="/shop/{{product.CatID}}/products/{{product.ProID}}/check/direct"
								type="submit">Đấu
								giá tự động</button>
						</form>

					</div>
					{{else}}
					<div class="bid_btn">
						<a href="/shop/{{product.CatID}}/products/{{product.ProID}}/check" class="btn btn-outline-primary">Bắt đấu đấu giá<a>
					</div>
					{{/if}}
					{{/if}}

				</div>
			</div>

		</div>
	</div>
</div>

<!-- Description -->

<div class="product-area mb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="li-product-tab">
					<ul class="nav li-product-menu">
						<li><a class="active" data-toggle="tab" href="#description"><span>Thông tin sản phẩm</span></a>
						</li>
						{{#if isOwn}}
						<li><a data-toggle="tab" href="#product-details"><span>Lượt ra giá</span></a></li>
						{{else}}
						<li><a data-toggle="tab" href="#product-details"><span>Lịch sử đấu giá</span></a></li>
						<li><a data-toggle="tab" href="#product-rates"><span>Đánh giá của người bán</span></a></li>
						{{/if}}
						
					</ul>
				</div>
				<!-- Begin Li's Tab Menu Content Area -->
			</div>
		</div>
		<div class="tab-content">
			<div id="description" class="tab-pane active show" role="tabpanel">
				<div class="product-description">
					<div>{{{ product.FullInfo }}}</div>
					{{#if isOwn}}
					<div class="text-center lead font-weight-bold mt-3 mb-3">Bổ sung thông tin sản phẩm</div>
					<div class="text-center">
					<form action="{{product.ProID}}/update" method="POST">
						<input type="text" name="AppendFullInfo" id="txtAppendFullInfo">
						<button class="btn btn-primary mt-3" type="submit" >Cập nhật</button>
					</form>
					</div>
					
					{{/if}}
				</div>
			</div>
			<div id="product-details" class="tab-pane" role="tabpanel">
				<div class="product-details-manufacturer">
					{{#if isOwn}}
					<div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Người đặt</th>
									<th scope="col">Giá</th>
									<th scope="col">Thời gian</th>
									<th scope="col">Từ Chối</th>
								</tr>
							</thead>
							<tbody>
								{{#each bidbyPro}}
								<form method="POST">
								<tr>
									<th scope="row">{{ Index }}</th>
									<td>{{ Username }}</td>
									<td>{{ Price }}</td>
									<td>{{ BidTime }}</td>
									<td>{{#if State}} Đã bị chặn {{else}}<button class="btn btn-secondary" type="submit" formaction="/shop/{{../product.CatID}}/products/{{../product.ProID}}/ban/{{UserID}}"><i class="fas fa-user-slash"></i></button>{{/if}}</td>
								</tr>
								</form>
								{{/each}}
							</tbody>
						</table>
					</div>
					{{else}}
					<div class="history mt-3">
						<table class="table table-striped">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Thời gian</th>
								<th scope="col">Người mua</th>
								<th scope="col">Giá</th>
							</tr>
							{{#each bidbyPro}}
							<tr>
								<th scope="row">{{ Index }}</th>
								<td> {{ BidTime }} </td>
								<td> {{	mask Username }} </td>
								<td> {{ Price }} </td>
							</tr>
							{{/each}}
						</table>
						<a href="#" title="quick view" class="quick-view-btn" data-toggle="modal"
							data-target="#exampleModalCenter">Xem
							thêm</a>
					</div>
					{{/if}}
				</div>
			</div>
			<div id="product-rates" class="tab-pane" role="tabpanel">
				 <div class="card ml-3 mr-3 mb-4">
                <div class="card-header d-flex flex-row">
                    <div class="name">{{mask seller.Username}}</div>
                </div>
                <div class="card-body">
                    <div class="infor d-flex flex-row mb-4">
                        <div class="mr-5"><i class="far fa-thumbs-up"><span class="ml-3">{{goodRate}}</span></i></div>
                        <div><i class="far fa-thumbs-down"><span class="ml-3">{{badRate}}</span></i></div>
                    </div>
					<div>
						<a href="/review?UserID={{seller.UserID}}" class="btn btn-primary">Xem chi tiết</a>
					</div>
                </div>
            </div>
			</div>
		</div>
	</div>
</div>


<!-- Recently Viewed -->

<div class="viewed">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="viewed_title_container">
					<h3 class="viewed_title">Recently Viewed</h3>
					<div class="viewed_nav_container">
						<div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
						<div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
					</div>
				</div>

				<div class="viewed_slider_container">

					<!-- Recently Viewed Slider -->

					<div class="owl-carousel owl-theme viewed_slider">

						<!-- Recently Viewed Item -->
						<div class="owl-item">
							<div
								class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
								<div class="viewed_image"><img src="/images/view_1.jpg" alt=""></div>
								<div class="viewed_content text-center">
									<div class="viewed_price">$225<span>$300</span></div>
									<div class="viewed_name"><a href="#">Beoplay H7</a></div>
								</div>
								<ul class="item_marks">
									<li class="item_mark item_discount">-25%</li>
									<li class="item_mark item_new">new</li>
								</ul>
							</div>
						</div>

						<!-- Recently Viewed Item -->
						<div class="owl-item">
							<div
								class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
								<div class="viewed_image"><img src="/images/view_2.jpg" alt=""></div>
								<div class="viewed_content text-center">
									<div class="viewed_price">$379</div>
									<div class="viewed_name"><a href="#">LUNA Smartphone</a></div>
								</div>
								<ul class="item_marks">
									<li class="item_mark item_discount">-25%</li>
									<li class="item_mark item_new">new</li>
								</ul>
							</div>
						</div>

						<!-- Recently Viewed Item -->
						<div class="owl-item">
							<div
								class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
								<div class="viewed_image"><img src="/images/view_3.jpg" alt=""></div>
								<div class="viewed_content text-center">
									<div class="viewed_price">$225</div>
									<div class="viewed_name"><a href="#">Samsung J730F...</a></div>
								</div>
								<ul class="item_marks">
									<li class="item_mark item_discount">-25%</li>
									<li class="item_mark item_new">new</li>
								</ul>
							</div>
						</div>

						<!-- Recently Viewed Item -->
						<div class="owl-item">
							<div
								class="viewed_item is_new d-flex flex-column align-items-center justify-content-center text-center">
								<div class="viewed_image"><img src="/images/view_4.jpg" alt=""></div>
								<div class="viewed_content text-center">
									<div class="viewed_price">$379</div>
									<div class="viewed_name"><a href="#">Huawei MediaPad...</a></div>
								</div>
								<ul class="item_marks">
									<li class="item_mark item_discount">-25%</li>
									<li class="item_mark item_new">new</li>
								</ul>
							</div>
						</div>

						<!-- Recently Viewed Item -->
						<div class="owl-item">
							<div
								class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
								<div class="viewed_image"><img src="/images/view_5.jpg" alt=""></div>
								<div class="viewed_content text-center">
									<div class="viewed_price">$225<span>$300</span></div>
									<div class="viewed_name"><a href="#">Sony PS4 Slim</a></div>
								</div>
								<ul class="item_marks">
									<li class="item_mark item_discount">-25%</li>
									<li class="item_mark item_new">new</li>
								</ul>
							</div>
						</div>

						<!-- Recently Viewed Item -->
						<div class="owl-item">
							<div
								class="viewed_item d-flex flex-column align-items-center justify-content-center text-center">
								<div class="viewed_image"><img src="/images/view_6.jpg" alt=""></div>
								<div class="viewed_content text-center">
									<div class="viewed_price">$375</div>
									<div class="viewed_name"><a href="#">Speedlink...</a></div>
								</div>
								<ul class="item_marks">
									<li class="item_mark item_discount">-25%</li>
									<li class="item_mark item_new">new</li>
								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>


<!-- Preview -->
<div class="modal fade modal-wrapper" id="exampleModalCenter">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="modal-inner-area row">
					<div class="title-history text-center">Lịch sử đấu giá</div>
					<table style="width:100%">
						<tr>
							<th>Thời điểm</th>
							<th>Người mua</th>
							<th>Giá</th>
						</tr>
						<tr>
							<td>1/11/2019 10:43</td>
							<td>****Anh</td>
							<td>6,000,000</td>
						</tr>
						<tr>
							<td>1/11/2019 9:43</td>
							<td>****Quang</td>
							<td>5,900,000</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>