  {{#if this.empty}}
  <div class="card-body">
    <div class="row justify-content-end">
        <a href="/admin/categories/{{parentID}}" class="btn btn-outline-success " type="button">Back to Sub-Categories</a>
    </div>
    <p class="card-text">
      Không có dữ liệu.
    </p>
  </div>
  {{else}}
  <div class="card-body">
     <div class="row justify-content-end">
        <a href="/admin/categories/{{parentID}}" class="btn btn-outline-success " type="button">Back to Sub-Categories</a>
    </div>
    <div class="row">
      {{#each products}}
      <div class="col-sm-4 mb-3">
        <div class="card h-100 d-flex align-items-center">
          <img src="/images/product/{{ProID}}/main_thumbs.jpg" style="width: 150px; heigth: 150px" alt="{{ProName}}" title="{{ProName}}" class="card-img-top">
          <div class="card-body">
            <h6 class="card-title">{{ProName}}</h6>
            <h5 class="card-title text-danger">{{format Price}}</h5>
            <p class="card-text">{{TinyInfo}}</p>
          </div>
          <div class="card-footer text-center">
            <form method="POST">
              <a class="btn btn-sm btn-outline-primary" href="#" role="button">
                <i class="fa fa-eye" aria-hidden="true"></i>
                Details
              </a>
              <button class="btn btn-sm btn-outline-danger" type="submit" formaction="/admin/categories/{{../parentID}}/product/{{CatID}}/delete/{{ProID}}"><i class="fa fa-trash" aria-hidden="true"></i>
                Delete
                </button>
            </form>
          
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="?page={{prev_value}}">
                <i class="fa fa-backward" aria-hidden="true"></i>
              </a>
            </li>
            {{#each page_numbers}}
            {{#if isCurrent}}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
            </li>
            {{else}}
            <li class="page-item">
              <a class="page-link" href="?page={{value}}">{{value}}</a>
            </li>
            {{/if}}
            {{/each}}
            <li class="page-item">
              <a class="page-link" href="?page={{next_value}}">
                <i class="fa fa-forward" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  {{/if}}