{{#section 'title'}}
	<title>Reiew Detail</title>	
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/styles/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/shop_responsive.css">
{{/section}}

{{#section 'js'}}
	<script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
	<script src="/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
	<script src="/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="/js/shop_custom.js"></script>
{{/section}}

<div class="container mt-5">

<div class="title breadcrumb justify-content-center" style="font-size: 20px;">Đánh giá chi tiết của  {{mask user.Username}}</div>
{{#if products.length}} 
<div class="card mb-4">
                <div class="card-header d-flex flex-row">
                    <div class="name">Tổng điểm đánh giá: {{user.RateNumber}} </div>
                </div>
                <div class="card-body">
                    <div class="infor d-flex flex-row mb-4">
                        <div class="mr-5"><i class="far fa-thumbs-up"><span class="ml-3">{{goodRate}}</span></i></div>
                        <div><i class="far fa-thumbs-down"><span class="ml-3">{{badRate}}</span></i></div>
                    </div>
                    <div>Quyền: <span> {{#if check}} Được tham gia đấu giá {{else}} Không đươc tham gia đấu giá {{/if}}
                        </span></div>
                </div>

</div>
<table class="table table-striped">
     
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Người Đánh Giá</th>
      <th scope="col">Nhận Xét</th>
      <th scope="col">Đánh giá</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row"></th>
      <td>{{mask Username}}</td>
      <td>{{Message}}</td>
      <td>{{#if Grade}} <i class="far fa-thumbs-up"></i> {{else}} <i class="far fa-thumbs-down"></i> {{/if}} </td>
    </tr>
{{/each}}
  </tbody>
</table>

{{else}}
    <div>Chưa có đánh giá nào </div>
{{/if}}
</div>
 

