{{#section 'title'}}
<title>Account</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/account.css">
{{/section}}

<!-- User -->
<div class="userpage-content col-9">

    <div class="title breadcrumb justify-content-center">Chỉnh Sửa Thông Tin</div>
    <div class="row mt-5">
        <div class="info_form col-8">
            <form method="POST">
                <div class="name item">
                    <div class="head-item">Họ và Tên</div>
                    <div class="content-item">
                        <input type="text" name="FullName" value="{{ user.FullName }}">
                    </div>
                </div>
                <div class="emai item">
                    <div class="head-item">Email</div>
                    <div class="content-item">
                        <input type="email" name="Email" value="{{ user.Email }}">
                    </div>
                </div>
                <div class="phone item">
                    <div class="head-item">Số Điện Thoại</div>
                    <div class="content-item">
                        <input type="tel" name="Phone" value="{{ user.Phone }}" pattern="[0-9]+" maxlength="10"  oninvalid="setCustomValidity('Số điện thoại phải gồm 10 chữ số')">
                    </div>
                </div>
                <div class="item">
                    <div class="head-item">Địa Chỉ</div>
                    <div class="content-item">
                        <input type="text" name="Address" value="{{ user.Address }}">
                    </div>
                </div>
                <div class="birthdate item">
                    <div class="head-item">Ngày Sinh</div>
                    <div class="content-item">
                        <input type="text" name="Date_of_Birth" value="{{date user.DoB }}">
                    </div>
                </div>
                <div class="submit">
                    <button class="btn btn-primary mt-0" type="submit">Lưu</button>
                </div>
            </form>
        </div>
        <div class="avatar_change col-4">
            <div class="d-flex flex-column align-items-center">
                <div class="mb-3">
                    <img src="/images/best_1.png" alt="">
                </div>
                <input class="mb-3" type="file" content="">
                <div>luonganh99</div>
            </div>
        </div>
    </div>

</div>