{{#section 'title'}}
    <title>Account</title>
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/styles/account.css">
{{/section}}

<!-- User -->
<div class="userpage-content col-9">
    
    <div class="title breadcrumb justify-content-center">Thông tin cá nhân </div>
    <div class="row mt-5">
        <div class="info_form col-8">
            <div class="name item">
                <div class="head-item">Họ và Tên</div>
                <div class="content-item">
                    <div class="mr-3">{{ user.FullName }}</div>
                </div>
            </div>
            <div class="emai item">
                <div class="head-item">Email</div>
                <div class="content-item">
                    <div class="mr-3">{{ user.Email }}</div>
                </div>
            </div>
            <div class="phone item">
                <div class="head-item">Số Điện Thoại</div>
                <div class="content-item">
                    <div class="mr-3">{{ user.Phone }}</div>
                </div>
            </div>
            <div class="item">
                <div class="head-item">Địa Chỉ</div>
                <div class="content-item">
                    <div class="mr-3">{{ user.Address }}</div>
                </div>
            </div>
            <div class="birthdate item">
                <div class="head-item">Ngày Sinh</div>
                <div class="content-item">
                    <div class="mr-3">{{date user.DoB }}</div>
                </div>
            </div>
            <div class="submit">
                <a href="edit" class="btn btn-primary">Chỉnh Sửa</a>
            </div>
        </div>
        <div class="avatar_change col-4">
            <div class="d-flex flex-column align-items-center">
                <div class="mb-3">
                    <img src="/images/best_1.png" alt="">
                </div>
                <input class="mb-3" type="file" content="">
                <div>{{authUser.Username}}</div>
            </div>
        </div>
    </div>

</div>



