{{#section 'title'}}
<title>Review</title>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/account.css">
<link rel="stylesheet" type="text/css" href="/styles/auctionlist.css">
{{/section}}


<div class="userpage-content col-9">
    <div class="title breadcrumb justify-content-center">Đánh giá</div>
    <div class="row mt-4">
        <div class="grade">
            <div class="card ml-3 mr-3 mb-4">
                <div class="card-header d-flex flex-row">
                    <div class="name">Tổng điểm đánh giá của bạn: {{checkRate}} </div>
                </div>
                <div class="card-body">
                    <div class="infor d-flex flex-row mb-4">
                        <div class="mr-5"><i class="far fa-thumbs-up"><span class="ml-3">{{goodRate}}</span></i></div>
                        <div><i class="far fa-thumbs-down"><span class="ml-3">{{badRate}}</span></i></div>
                    </div>
                    <div>Quyền: <span> {{#if check}} Được tham gia đấu giá {{else}} Không đươc tham gia đấu giá {{/if}}
                        </span></div>
                </div>

            </div>

            <!-- item -->
            <div class="  mt-2">
                <div class="review">
                   
                {{#each products}}
                <div class="card ml-3 mr-3 mb-4">
                    <div class="card-header d-flex flex-row justify-content-between">
                        <div class="name">{{ ProName }} <i class="fas fa-grip-lines-vertical"></i> {{#if Grade}} <i class="far fa-thumbs-up"></i> {{else}} <i class="far fa-thumbs-down"></i> {{/if}}</div>
                        <div class="state ml-3"> Đấu giá kết thúc: {{date ExpiryDate }}</div>
                    </div>
                    <div class="card-body">
                        <div class="infor d-flex flex-row justify-content-between mb-4">
                            <img class="mr-2" style="width: 200px; height: 200px;"
                                src="/images/product/{{ProID}}/0.jpg" alt="">
                            <div class="text">{{ Message }}</div>
                            <div class="bottom">
                                <div class="yourbid">Người đánh giá: <span class="text-right">{{mask Username }}</span></div>
                                <div class="current">Giá đã bán: <span class="text-right">{{format CurrentPrice }}</span>
                                </div>
                                <div class="view-auction mt-5">
                                    <a href="/shop/{{CatID}}/products/{{ProID}}"><button class="btn btn-primary">Xem chi tiết</button></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {{/each}}
                </div>
            </div>
        </div>