{{#section 'title'}}
    <title>Auction List</title>
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/styles/account.css">
    <link rel="stylesheet" type="text/css" href="/styles/auctionlist.css">
{{/section}}



<div class="userpage-content col-9">
    <div class="title breadcrumb justify-content-center">Sản phẩm đã đấu giá thành công</div>
    <div class="row mt-4">

        {{#each products}}
        <div class="card ml-3 mr-3 mb-4">
            <div class="card-header d-flex flex-row justify-content-between">
                <div class="name"> {{ ProName }}</div>
                <div class="state ml-3"> Đấu giá kết thúc: {{relative ExpiryDate }}</div>
            </div>
            <div class="card-body">
                <div class="infor d-flex flex-row justify-content-between mb-4">
                    <img class="mr-2" style="width: 200px; height: 200px;" src="/images/product/{{ProID}}/0.jpg" alt="">
                    <div class="text">{{ TinyInfo }}</div>
                    <div class="bottom">
                        <div class="yourbid">Người thắng: <span class="text-right">{{mask Username }}</span></div>
                        <div class="current">Giá: <span class="text-right"> {{format CurrentPrice }}</span>
                        </div>
                        <div class="view-auction mt-5">
                            <a href="rate?ProID={{ProID}}&ProName={{ProName}}&UserID={{UserID}}&Username={{Username}}" class="mr-3"><button class="btn btn-success">Đánh giá</button><a>
                            <a href="/shop/{{CatID}}/products/{{ProID}}"><button class="btn btn-primary">Xem chi tiết</button></a>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>