{{#section 'title'}}
    <title>Account</title>
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/styles/wishlist.css">
{{/section}}


<!-- Wish List -->
<div class="wishlist-table pl-2 pt-1 pb-5 ">
    <div class="title breadcrumb justify-content-center">Danh sách sản phẩm yêu thích</div>
    <form action="#">
        <div class="table-content table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="li-product-remove">xóa</th>
                        <th class="li-product-thumbnail">hình ảnh</th>
                        <th class="cart-product-name">sản phẩm</th>
                        <th class="li-product-price">giá</th>
                        <th class="li-product-stock-status">tình trạng</th>
                        <th class="li-product-add-cart">đấu giá</th>
                    </tr>
                </thead>
                <tbody>

                    {{#each products}}
                    <tr>
                        <td class="li-product-remove"><a href="/user/delete?ProID={{ProID}}"><i class="fas fa-times"></i></a></td>
                        <td class="li-product-thumbnail"><a href="#"><img src="/images/product/{{ProID}}/main_thumbs.jpg" alt=""></a>
                        </td>
                        <td class="li-product-name">{{ ProName }}</td>
                        <td class="li-product-price"><span class="amount">{{format CurrentPrice }}</span></td>
                        <td class="li-product-stock-status">
                            {{#if State}}
                            <span class="out-stock">Đã đấu giá</span>
                            {{else}}
                            <span class="in-stock">Đang đấu giá</span>
                            {{/if}}
                        </td>
                        <td ><a href="#" class="btn btn-primary">Đấu Giá</a></td>
                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </div>
    </form>

</div>