<!DOCTYPE html>

<html lang="en">
<head>
{{{_sections.title}}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
<link href="/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap&subset=vietnamese" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.0/slick.css">
<link rel="stylesheet" type="text/css" href="/styles/product_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/product_responsive.css">
<link rel="stylesheet" type="text/css" href="/styles/user-categories.css">
{{{_sections.css}}}


</head>
<body>

	<div class="super_container">

		{{> header}}

		{{!-- User --}}

		<div class="user">
			<div class="container">
				<div class="row mt-5">
		
					{{!-- Left user categories --}}
		
					<div class="userpage-sidebar col-3">
						<div class="userpage-brief d-flex flex-row">
							<a href="#" class="mr-4">
								<div>
									<img src="/images/best_1.png" class="avatar" alt="">
								</div>
							</a>
							<div class="brief-right ">
								<div class="username">luonganh99</div>
								<a href="edit"><i class="fa fa-pencil" aria-hidden="true"></i>Sửa Hồ Sơ</a>
							</div>
						</div>
						<div class="userpage-sidebar-menu mt-5">
							<ul class="nav-container">
								<li class="item" id="Manage-My-Account"><a href="profile"
										data-spm="Manage-My-Account"><span>Quản lý tài khoản</span></a>
									<ul class="item-container">
										<li id="My-profile" class="sub"><a href="profile" data-spm="My-profile">Thông tin
												cá nhân</a></li>
										<li id="Address-book" class="sub"><a href="password" data-spm="Address-book">Đổi mật
												khẩu</a></li>
									</ul>
								</li>
								<li class="item" id="My-Orders"><a href="#" data-spm="My-Orders"><span>Quản lý
											sản phẩm</span></a>
									<ul class="item-container">
										<li id="Cancellations" class="sub"><a href="joininglist"
												data-spm="Cancellations">Sản phẩm đang tham gia</a></li>
										<li id="Cancellations" class="sub"><a href="joinedlist"
												data-spm="Cancellations">Sản phẩm đã tham gia</a></li>
										<li id="Cancellations" class="sub"><a href="wonlist"
												data-spm="Cancellations">Sản phẩm đã thắng</a></li>
									</ul>
								</li>
								{{#if isSeller}}
								<li class="item" id="My-Orders"><a href="#" data-spm="My-Orders"><span>Quản lý
											đấu giá</span></a>
									<ul class="item-container">
										<li id="Cancellations" class="sub"><a href="auctionlist"
												data-spm="Cancellations">Sản phẩm đang được đấu giá</a></li>
										<li id="Cancellations" class="sub"><a href="successlist"
												data-spm="Cancellations">Sản phẩm đã đấu giá thành công</a></li>
									</ul>
								</li>
								{{/if}}
								<li class="item" id="My-Reviews"><a href="review" data-spm="My-Reviews"><span>Đánh giá của
											tôi</span></a></li>
								<li class="item" id="My-Wishlists"><a class="active" href="wishlist"
										data-spm="My-Wishlists"><span>Sản phẩm yêu thích</span></a>
								
								{{#if isSeller}}
								<li class="item" id="Sell-On-Lazada"><a href="post" data-spm="Sell-On-Lazada"><span>Đăng
											dấu giá</span></a> 
								{{else}}
								<li class="item" id="Sell-On-Lazada"><a href="upgrade" data-spm="Sell-On-Lazada"><span>Nâng cấp tài khoản</span></a>
								{{/if}}
							</ul>
						</div>
					</div>
		
					{{!-- Right user layout --}}

					{{{body}}}
					
				</div>
			</div>
		</div>
		

		{{> footer}}

	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/styles/bootstrap4/popper.js"></script>
	<script src="/styles/bootstrap4/bootstrap.min.js"></script>
	<script src="/plugins/greensock/TweenMax.min.js"></script>
	<script src="/plugins/greensock/TimelineMax.min.js"></script>
	<script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
	<script src="/plugins/greensock/animation.gsap.min.js"></script>
	<script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
	<script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
	<script src="/plugins/easing/easing.js"></script>
	
	{{!-- <script src="/js/product_custom.js"></script> --}}
	<script src="https://kit.fontawesome.com/1dfb242a3f.js" crossorigin="anonymous"></script>
	{{{_sections.js}}}

</body>

</html>